body{
  background:url('img/background.jpg');
}
body h1{
  color:#fff;
  font-family: 'Cabin Sketch', cursive;
  font-size: 5em;
  margin-bottom: 1em;
}
body h4{
  color:#fff;
  font-size: 1.5em;
}
label{
  color:#fff;
  font-family: 'Cabin Sketch', cursive;
  font-size: 2em;
}
div {
  box-sizing: border-box;
}

table {
  border: 1px #fff solid;
  font-family: 'Cabin Sketch', cursive;
  color:#fff;
}

table td {
  table-layout: fixed;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 250%;
  border: 1px #fff solid;
}

.login-form {
  height: 100px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  background:transparent;
}
.login-form input{
  border:none;
  background: transparent;
  border-bottom: 1px solid #fff;
  font-family: 'Cabin Sketch', cursive;
  color:#fff;
  font-size: 1.8em;
}
.usernameInput{
  width:7em;
  height:2em;
}
.signInput{
  width:3em;
  height:2em;
}
.btn{
  font-family: 'Cabin Sketch', cursive;
}
/*Chat Box*/
.main{
  background: rgba(0, 0, 0, 0.65);
  box-shadow: 1px 1px 12px rgba(225, 225, 225, 0.5);
  border-radius: 0.2em;
}
#chat{
  padding:1em 3em;
  overflow-y: scroll;
  font-family: 'Cabin Sketch', cursive;
  font-size:1.2em;
  color:#fff;
  height:240px;
}
#input{
  padding:1.2em 1em;
  font-family: 'Cabin Sketch', cursive;
}
#status{
  color:#363636;
}

/*Scrollbar*/
#chat::-webkit-scrollbar {
  width: 8px;
}

#chat.thin::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #eee;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(100,100,100,0.4); 
}